<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to KhalidTech09!</h1>
    <p>Contact us and follow us on our social media platforms:</p>
    <ul>
        <li><a href="https://web.facebook.com/KhalidTech0/" target="_blank">Facebook</a></li>
        <li><a href="https://www.tiktok.com/@khalidtech09" target="_blank">TikTok</a></li>
        <li><a href="https://www.instagram.com/khalidcamzy/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/KhalidCamzy" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/khalid361/khalid361" target="_blank">GitHub</a></li>
    </ul>
</body>
</html>
